/* Item */

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 400px;
    height: 100px;
}


/* content */
.content {
    position: static;
    width: 400px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #252529;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

/* logo */
.logo {
    width:74.76px;
    position: absolute;
    left: 6.8%;
    right: 74.51%;
    top: 13%;
    bottom: 12.53%;

    background: url('../../resources/icon-hue-pwrbtn-rainbow.png');
    border-radius: 46px;
}

/* name */
.name {
    position: absolute;
    left: 36.8%;
    right: 23.2%;
    top: 35%;
    bottom: 34%;

    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B6B6B6;
}
