
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;

    position: relative;
    width: 448px;
    /* height: 384px; */
}

/* BridgeItem */
.item {
    position: relative;
    width: 400px;
    height: 100px;

    background: #252529;
    border-radius: 50px;
}

/* name */
.name {
    position: absolute;
    left: 28.8%;
    right: 23.2%;
    top: 25%;
    bottom: 34%;

    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B6B6B6;
}


/* logo */
.logo {
    position: absolute;
    left: 6.8%;
    right: 74.51%;
    top: 13%;
    bottom: 12.53%;

    background: url('../../resources/icon-hue-pwrbtn-rainbow.png');
    border-radius: 46px;

}

.logo img {
    max-width:100%;
    max-height:100%;
}
